header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  text-align: center;
}

body {
  height: 100vh;
}

footer {
  height: 10vh;
  text-align: end;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.gat {
  background-image: url('./imagenes/Gato.JPG');
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fons{
  display: flex;
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.color{
  background-color:rgb(204, 172, 52);
}

.text{
  color: white;
  text-align: center;
  width: 50%;
  height: fit-content;
}


.menu ul li a {
  font-size: 20px;
  color: rgb(95, 13, 112);
  text-decoration: underline;
}


.menu b {
  font-size: 28px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
}

.boto{
  display: flex;
  align-items: center;
  justify-content: center;
  width: flex;
  height: flex;
  background-color: rgb(204, 172, 52);
  color: rgb(95, 13, 112);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
  cursor: pointer;
  border: none; 
  text-align: center;
  margin-bottom: 5vh;
}


.formulari {
  border: 1px solid rgb(212, 208, 208);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(250, 243, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vh;
}

.formulari button {
  background-color: rgb(47, 218, 87);
  text-align: center; 
  font-size: 22px; 
  border-radius: 5px; 
  text-align: center;
  margin-top: 50px;
  width: 70%;
}
.taula {
  position: fixed;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.taula td, .taula th {
  border: 1px solid rgb(212, 208, 208);
  padding: 8px;
  text-align: center;
  width: 40vh;
  height: fit-content;
}

.taula tr:nth-child(even) {
  background-color:rgb(250, 243, 217);
}

.taula tr:nth-child(odd) {
  background-color: white;
}

.formulari, .taula {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  height: max-content;
  width: auto;
  }

.formulari input{
width: 90%; 
text-align: center;
}
